*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --col-05:#bcbdbc;
  --col-06:#6f6f6f;
  --border: 1px solid var(--col-02);
    border: none;
    background: linear-gradient(90deg, rgba(100, 3, 94, 0.791) 0%, rgba(121,9,94,1) 54%, rgba(255,71,232,1) 100%);
    /* I wanted to create a background gradient with the same purple color scheme as the video. */
}

button {
  background-color: #2223233d;
  border: transparent;
}

button:hover{
  background-color: #b600e44c;
  cursor: pointer;
}

.timer-span {
  background-color: #2223233d;
  padding-top: 6px;
}

input[type='range'] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: #d21d8135;
  width: 80px;
  height: 31px;
}

.video-player-wrapper{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 120px;
}

/* becuase I want to overlay the play icon on the video they need to be in their own wrapper */
.video-element-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #222323;
}

#videoElement{
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

#videoPlayOverlay{
  width: 8rem;
  height: 8rem;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  opacity: 0.6;
}

.video-controls-wrapper{
  display: flex;
  justify-content: center;
}
/* this overwrites the above display:flex - something which is then undone when the JS loads */
#controlsWrapper{
  display: none;
}

.video-control-button{
  width: 2rem;
  height: 2rem;
  padding: .1rem;
  border: none;
  cursor: pointer;
}
.video-control-button:hover{
  background-color: #b600e44c ;
}
.video-control-button:active{
  background-color: var(--col-06);
}
.button-icon{
  pointer-events: none;
}

#playButton{
  background-image: url('./icons/play.svg');
}


.video-progress-bar{
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 2rem;
  flex-grow: 1;
  cursor: pointer;
  background-color: var(--col-01);
  box-shadow: 0 1px 2px var(--col-02) inset;
}
::-moz-progress-bar {
  background-color: #c30a5d7a;
}

::-webkit-progress-bar {
  background-color: #c30a5d9b;
  box-shadow: 0 1px 2px inset;
}
::-webkit-progress-value {
  background-color: #d71c737a;
}

.timeline-loading{
  background-image: -moz-repeating-linear-gradient(45deg, var(--col-03) 0% 2%, transparent 2% 4%, red 4%);
  background-size: 200% 100%;
  animation: loadingAnimation 4s linear infinite;
}

.volume-button{
  height: 32px;
  width: 32px;
  background-image: url(./icons/mute.svg);
  background-repeat: no-repeat;
}

@keyframes loadingAnimation {
  100%{
    background-position: 50% 0%;
  }
}